
<div class="coin-page">
    <div class="coin-page-title">Tough Decision? Flip a Coin!<div>
    <div *ngIf="answer == 'heads'; else tails">        
        <img src="http://clipart-library.com/images_k/quarter-transparent-background/quarter-transparent-background-15.png"/>   
    </div>
    <ng-template #tails>
        <img src="http://clipart-library.com/images_k/quarter-transparent-background/quarter-transparent-background-22.png"/>
    </ng-template>

    <button (click)="flip()">Flip</button>
</div>
