.coin-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
}

.coin-page .coin-page-title {
    width: 100%;
    font-size: 50px;
}

.coin-page .coin-page-image {
    height: 600px;
    width: 600px;
}