
<div class="coin-page">
    <div class="coin-page-title">Tough Decision? Flip a Coin!</div>
    <div>
        <div [ngSwitch]="answer" >        
            <img *ngSwitchCase="'Heads'" class="coin-page-image" src="http://clipart-library.com/images_k/quarter-transparent-background/quarter-transparent-background-15.png"/>   
            <img *ngSwitchCase="'Tails'" class="coin-page-image" src="http://clipart-library.com/images_k/quarter-transparent-background/quarter-transparent-background-22.png"/>
            <img *ngSwitchCase="'Flipping'" class="flipping-coin" src="http://clipart-library.com/images_k/quarter-transparent-background/quarter-transparent-background-22.png"/>
            <img *ngSwitchDefault class="coin-page-image" src="http://clipart-library.com/images_k/quarter-transparent-background/quarter-transparent-background-15.png">
    </div>
    <button class="coin-page-button" (click)="flip()">Flip</button>
    
</div>
